apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/search: "true"
  labels:
    {{- include "tokenx.jwker.labels" . | nindent 4 }}
  name: {{ include "tokenx.jwker.fullname" . }}
spec:
  progressDeadlineSeconds: 300
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      {{- include "tokenx.jwker.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "8181"
        prometheus.io/scrape: "true"
      labels:
        {{- include "tokenx.jwker.labels" . | nindent 8 }}
      name: {{ include "tokenx.jwker.fullname" . }}
    spec:
      containers:
        - env:
            - name: "LEADER_ELECTION"
              value: "true"
          envFrom:
            - secretRef:
                name: {{ .Values.secretName }}
          image: "{{ .Values.repository }}/{{ .Values.image }}:{{ .Values.tag }}"
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8180
              scheme: HTTP
          name: {{ include "tokenx.jwker.fullname" . }}
          ports:
            - containerPort: 8180
              name: probes
              protocol: TCP
            - containerPort: 8181
              name: http
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8180
              scheme: HTTP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 1069
            runAsNonRoot: true
            runAsUser: 1069
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /tmp
              name: writable-tmp
      securityContext:
        fsGroup: 1069
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: {{ include "tokenx.jwker.fullname" . }}
      volumes:
        - emptyDir: {}
          name: writable-tmp
