dependencies:
  - allOf:
      - nais-crds
      # - tokenx-tokendings # This doesn't work for on-premises
environmentKinds:
  - tenant
  - onprem
values:
  clusterName:
    computed:
      template: '"{{ .Env.name }}"'
    config:
      type: string
  privateJwk:
    description: Private JWK used by Jwker to sign client assertions.
    required: true
    config:
      type: string
      secret: true
  tag:
    description: Image tag for jwker
    config:
      type: string
  logLevel:
    description: Log level for jwker, default is 'info'
    config:
      type: string
  tokendings.instanceUrls:
    description: List of URLs for Tokendings instances.
      Overrides `tokendings.host`.
      Jwker registers clients with all instances, but configures clients to use the first instance in the list.
    required: false
    config:
      type: string_array
  tokendings.host:
    description: Host that points to Tokendings.
      Setting this overrides the mapping value (i.e. `tokenx.<cluster>.<tenant>.cloud.nais.io`)
    required: true
    computed:
      template: '"{{ subdomain . "tokenx" }}"'
    config:
      type: string
  networkPolicy.apiServerCIDR:
    computed:
      template: '"{{ .Env.apiserver_endpoint }}/32"'
    ignoreKind:
      - onprem
  networkPolicy.enabled:
    computed:
      template: '{{ne .Kind "onprem"}}'
