repository: europe-north1-docker.pkg.dev/nais-io/nais/images
image: jwker
tag: latest
team: nais

fasit:
  tenant:
    name: "unknown"
  env:
    name: "unknown"

networkPolicy:
  enabled: false
  apiServerCIDR:

fullnameOverride: "tokenx-jwker"
nameOverride: "tokenx-jwker"

resources:
  limits:
    memory: 4Gi
  requests:
    memory: 256Mi
    cpu: 10m

secretName: "jwker-env"
clusterName: ""
logLevel: "info"
privateJwk: ""
tokendings:
  host: ""
  instanceUrls: []
